* {

margin: 0;  /*na pocetku za sve  margin i padding 0 jer neki elementi imaju automatska podesavanja pa da postavim 0 da se posle ne cimam pojedinacno*/
padding: 0;


}.soc .pic{
   float: left;
   width: 15px;
   height: 20px;
   padding: 10px;
} 
.soc .pic:hover{
background-color: gray;

}
.logo{
  
   width: 100px;
   height: 120px;

  padding: 15px;
  margin-bottom: 100px;
  
}
.logo .phot{
  
   height: 120px;

}

body {
    font-family: 'Dosis', sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
}



.slajd1,.slajd2,.slajd3,.slajd4 {
width: 100%;
height: 100vh;
position: absolute;
top: 0;
left: 0;

}


.slajd1-slika,.slajd2-slika,.slajd3-slika,.slajd4-slika  {
    
    width: 130%;
    height: 100vh;
    background-image: url("images/gym.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   animation: zoom-out 10s linear infinite ;
}
.slajd1{
animation: slajdovanje1 40s linear infinite ;

}
.slajd2{
    animation: slajdovanje2 40s linear infinite ;
    
    }
.slajd3{
   animation: slajdovanje3 40s linear infinite ;
   
   }
.slajd4{
     animation: slajdovanje4 40s linear infinite ;
     
   }

   .slajd1-slika{
      background-image: url("images/nike.jpg");
   }
   .slajd2-slika{
      background-image: url("images/8.jpeg");
   }
   .slajd3-slika{
      background-image: url("images/mora.jpg");
   }
   .slajd4-slika{
      background-image: url("images/gym.jpg");
   }

 @keyframes slajdovanje1 {
   0%{
      visibility: visible; 
   }
   25%{
    visibility: hidden; 
 }
 50%{
    visibility: hidden; 
 }
 75%{
    visibility: hidden; 
 }
 100%{
    visibility:visible ; 
 }
 }           
 @keyframes slajdovanje2 {
    0%{
       visibility: hidden; 
    }
    25%{
     visibility: hidden; 
  }
  50%{
     visibility: visible; 
  }
  75%{
     visibility: hidden; 
  }
  100%{
     visibility: hidden; 
  }
  } 
  @keyframes slajdovanje3 {
    0%{
       visibility: hidden; 
    }
    25%{
     visibility: hidden; 
  }
  50%{
     visibility: hidden; 
  }
  75%{
     visibility: visible; 
  }
  100%{
     visibility: hidden; 
  }
  } 
  @keyframes slajdovanje4{
    0%{
       visibility: hidden; 
    }
    25%{
     visibility: hidden; 
  }
  50%{
     visibility: hidden; 
  }
  75%{
     visibility: hidden; 
  }
  100%{
     visibility: visible; 
  }
  } 
 
 

@keyframes zoom-out{
100%{
    width: 100%; /*stavili mso gore u img da je 120 posto slika uvecana i sad je ova animacija vraca na 100 posto i tako dobijamo onaj efekat kao da slika ulazi*/
    
}


}
.text-box{
   

width: 600px;
position: absolute;
top:10% ; 
left: 5% ;
color: #fff;
animation: povucigoretext 10s linear infinite ;
transform: translateY(200px) ; 
}
}
.text-box h1{
   margin-top:150px;
    margin-bottom: 14px;
   /* transition: transform ease-out 150ms;*/
}.text-box p{
    margin-top: 25px;
    font-size: 19px;
    line-height: 18px;
}.text-box span{/*ovo je ova crvena linija */
    background: red;
    height: 1px;
    width: 100px;
    position: absolute;
    left :0 ; 


}
@keyframes povucigoretext {
 10%{
   transform: translateY(0px) ; 
}
100%{
   transform: translateY(0px);
}

}


/*odavde meni*/

.navbar{
width: 300px;
height: 100%;
background-color: #262626;
position:fixed ;
 top : 0 ;  
 right: -400px; /*ovo pomera ceo onaj meni van sajta i onda posle cu da ubacim da na klik ga stavi na plus 400 */

display: flex;
justify-content: center;
align-items: center;
border-radius: 20% 0 0 60%;         /*gornji levi ugao za 20 posto gore desno i dole desno 0, i dole levo 60% ,  */
transition: 1s cubic-bezier(1,0,0,1); /*ova funkcija cubic pravi onu foru da brzo ulazi na pocetku a na kraju sporo i da izlazi prvo sporo pa onda brzo */

}
.promeni{
    right: 0; /*ovo ce prikaze meni sa desne strane na klik znaci nece vise da bude -400 kao gore nego 0 sa desne strane */

}


.hamburger-menu {
   width: 35px;
   height: 30px;
   
   position: fixed;
   top : 50px ; 
   right: 50px ;
   cursor: pointer; /* kad dodje kursor preko ovog hamburger menija on se pretvori iz strelice u prst */
   display: flex;
   flex-direction: column;
   justify-content: space-around;

}
.line {
width: 100%;
height: 3px;
background-color: chocolate;
transition: all 0.8s;
}
 .promeni .line1 {

    transform : rotateZ(-45deg) translate(-8px, 6px) ; /*rotira prvu lilniju  na hamburgeru za 45% */ 

}
 .promeni .line2{
    opacity: 0;
}
 .promeni .line3{
    transform : rotate(45deg) translate(-8px,-6px) ; 
}
/*ovo line 1 2 i 3 je naprailo x i sad treba pomocu java scripta da uradim da kad pritisnim da se pojavi to x a kad pritinskem x izadje hamburger meni */




.nav-list {
text-align: right;

}
.nav-item {
list-style: none; 
margin: 25px ;

}
.nav-link{
text-decoration: none;
font-size: 22px;
color:#eee ;
letter-spacing:1px ;
font-weight: 300;
text-transform: uppercase;
position: relative;
padding: 3px 0;
}

.nav-link::before,.nav-link::after {
content: "";
width: 100%;
height: 2px; 
background-color: chocolate;
position: absolute;
left: 0;
transform: scaleX(0);
transition:  transform 0.5s;
}
.nav-link::after{
    bottom: 0;
    transform-origin: right;
    
}.nav-link::before{
    top:0 ; 
    transform-origin: left; 
}
.nav-link:hover::before,.nav-link:hover::after {
    transform: scaleX(1);  /* ovo da proverim ponovo ali ovo je hover da one linije prolaze pored slova kada  predjemo misem preko*/
     /*ovo da pogledam ponovo kad zavrsim sve za ove linije za hover */ 
}


/*sad css za slajder ovo sve je bilo za onaj pop up meni */
/*
 @keyframes slide{
    0%{
        background-image: url(images/gym.jpg);
    }
    20%{
     background-image: url(images/gym.jpg) ; 
    }
 20.01%{
     background-image: url(images/bg.jpg);
 }
 40%{
     background-image: url(images/bg.jpg);
 }
 40.01%{
    background-image: url(images/teretana.jpg);
}
60%{
    background-image: url(images/teretana.jpg));
}
60.01%{
    background-image: url(images/cura.jpg);
}
80%{
    background-image: url(images/cura.jpg);
}
80.01%{
    background-image: url(images/zena.jpg);
}100%{
    background-image: url(images/zena.jpg);
}



 
 
 
 
 }